<h1> Welcome </h1>
<form id="newsForm">
  <label for="query">Enter Query:</label>
  <input type="text" id="query" name="query" required>
  <button type="submit">Get News</button>
</form>

<div id="newsResults"></div>